.advantages{
    padding: 69px 0 81px 0;
    min-height: 380px;
    background-color: #f6f6f6;
    &__wrapper{
        margin-top: 65px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__item{
        width: 241px;
        //text
        text-align: center;
        color: #0d0d0d;
        img{
            display: block;
            margin: 0 auto;
        }
    }
    &__title{
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
    }
    &__text{
        margin-top: 26px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 300;
        a{
            text-decoration: underline;
            text-transform: uppercase;
            color: #ff0000;
        }
    }
}
