.advantages{
    padding: 69px 0 78px 0;
    min-height: 470px;
    background-color: #f6f6f6;
    &__wrapper{
        margin-top: 65px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__item{
        width: 241px;
        //text
        text-align: center;
        color: #0d0d0d;
        perspective: 500px;
        img{
            display: block;
            margin: 0 auto;
            transform: scaleZ(10);
        }
        &:nth-child(1) > img{
            animation: cupAnim 6s infinite linear alternate-reverse;
        }
        &:nth-child(2) > img{
            animation: heartAnim 0.8s infinite ease alternate;
        }
        &:nth-child(2) > img:hover{
            animation-play-state: paused;
        }
        &:nth-child(3) > img{
            animation: bootAnim 2s infinite alternate-reverse ease; 
        }
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }
    &__title{
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
    }
    &__text{
        margin-top: 26px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 300;
        a{
            text-decoration: underline;
            text-transform: uppercase;
            color: #ff0000;
        }
    }
}
