.button{
    display: block;
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    //text
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffff;
    margin-top: 6px;
    &_main{
        margin-top: 68px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}