.carousel{
    min-height: 740px;
    padding: 81px 0;
    display: flex;
    align-items: center;
    &__inner{
        position: relative;
        max-width: 750px;
        max-height: 580px;
        margin: 0 auto;
        img{
            width: 100%;
        }
        & > .slide:not(:first-child){
            display: none;
        }
        & > .slide:first-child{
            padding: 0 20px;
        }
    }
    //Стрелочки стилизация
    .slick-prev, .slick-next{
        position: absolute;
        left: -66px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        cursor: pointer;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .slick-next{
        left: auto;
        right: -66px;
    }
    //Кружочки стилизация
    .slick-dots{
        display: flex;
        justify-content: center;
        padding: 1.5rem 0 0 0;
        margin: 0;
        
        list-style-type: none;

        li{
            margin: 0 0.5rem;
        }

        button{
            display: block;
			width: 0.75rem;
			height: 0.75rem;
			padding: 0;

            border: none;
            border-radius: 100%;
            background-color: #ff0000;

            text-indent: -9999px
        }

        li.slick-active button {
            background-color: lightgreen
        }
    }
}