.footer{
    min-height: 630px;
    position: relative;
    &__map{
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.6);
        color: rgba($color: #000000, $alpha: 0.6);
        iframe{
            background: rgba($color: #000000, $alpha: 0.6);
            color: rgba($color: #000000, $alpha: 0.6);
        }
        .bg{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.6);
            //для скрипта исчезновения
            transition: 0.5s all;
        }
        //для скрипта исчезновения
        .bg-none{
            opacity: 0;
            visibility: hidden;
            transition: 0.5s all;
        }
    }
    &__info{
        padding: 50px 69px 60px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        //для скрипта исчезновения
        transition: 0.5s all;
    }
    //для скрипта исчезновения
    &__info-none{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(-100%);
        transition: 0.5s all;
    }
    &__adress{
        display: block;
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
    &__tel{
        display: block;
        margin-top: 36px;
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
        text-align: center; 
    }
    &__wrapper{
        margin: 0 auto;
        margin-top: 38px;
        display: flex;
        justify-content: center;
    }
    &__social{
        margin-left: 30px;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 65%;
        }
        &:first-child{
            margin-left: 0;
        }
    }
}