@keyframes heartAnim {
    0%{scale: 1;}

    20%{scale: 1.2;}

    30%{scale: 1.4;}

    40%{scale: 1.1;}

    50%{scale: 1;}
}

@keyframes bootAnim {
    from{transform: rotate(-69deg)}
    to{transform: rotate(0deg);}
}

@keyframes cupAnim {
    0%{transform:translate(5px, 15px) rotateY(-15deg);}
    20%{transform: rotate(-15deg);}
    50%{transform: translate(-5px, -5px) rotateY(-35deg);}
    80%{transform: rotate(15deg) rotateY(25deg);}
    100%{transform: translate(5px, 10px) rotateY(25deg);}
}
