@media (pointer: coarse){
    .footer{
        .bg{
            display: none;
        }
    }
}
@media (max-width: 991px){
    .container{
        width: 750px;
    }
    .header{
        &__official{
            font-size: 11px;
            span{
                font-size: 16px;
            }
        }
    }
    .promo{
        min-height: 600px;
        padding-bottom: 44px;
        &__wrapper{
            align-items: center;
        }
        &__icon:first-child{
            margin-left: 0;
        }
    }
    .advantages{
        &__text{
            width: 190px;
            display: block;
            margin: 0 auto;
            margin-top: 26px;
        }
    }
    .carousel{
        &__inner{
            max-width: 600px;
            padding: 0 10px;
        }
    }
    .catalog{
        &__content{
            justify-content: center;
        }
    }
    .catalog-item{
        margin-left: 15px;
        margin-right: 15px;
    }
    .footer{
        &__info{
            padding: 0;
            height: 80px;
            top: auto;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &__adress{
            font-size: 18px;
        }
        &__tel{
            margin-top: 0;
            font-size: 18px;
        }
        &__wrapper{
            margin: 0;
            justify-content: space-around;
            align-content: flex-start;
        }
        &__social{
            width: 34px;
            height: 34px;
        }
    }
}
@media (max-width: 767px){
    .container{
        width: 100%;
    }
    .header{
        display: block;
        position: relative;
        &__logo{
            margin-left: 8px;
        }
        &__official{
            p{
                display: none;
            }
            span{
                margin-top: 0;
                position: absolute;
                right: 8px;
                top: 0px;
            }
        }
        &__phone{
            display: none;
        }
        &__contacts{
            .button{
                margin-top: 0;
                position: absolute;
                top: 20px;
                right: 12px;
            }
        }
    }
    .promo{
        min-height: 530px;
        padding-top: 10px;
        &__wrapper{
            padding-top: 75px;
        }
        &__header{
            font-size: 36px;
        }
        &__subheader{
            font-size: 20px;
        }
        &__icons{
            margin-top: 44px;
        }
        &__icon{
            margin-left: 38px;
        }
        .button{
            &_main{
                margin-top: 48px;
                width: 270px;
            }
            
        }
    }
    .advantages{
        padding-bottom: 61px;
        &__wrapper{
            flex-flow: row wrap;
            
        }
        &__item{
            &:nth-child(3){
                margin-top: 20px;
            }
        }
        &__title{
            margin-top: 27px;
        }
        &__text{
            margin-top: 18px;
        }
    }
    .consultation{
        .title{
            &_left{
                text-align: center;
                font-size: 30px;
            }
        }
        &__subtitle{
            margin-top: 56px;
            padding: 0 20px;
            text-align: center;
            width: 100%;
        }
        .feed-form{
            margin: 0 auto;
            margin-top: 36px;
            
        }
    }
    .carousel{
        padding: 71px 0;
    }
    .catalog{
        &__tabs{
            margin-left: 40px;
            margin-right: 40px;
        }
        &__tab{
            font-size: 16px;
        }
    }
    .reviews{
        max-width: 90%;
        margin: 0 auto;
    }
    .footer{
        &__adress{
            font-size: 15px;
        }
        &__tel{
            font-size: 15px;
        }
        &__social{
            margin-left: 22px;
        }
    }
}
@media (max-width: 575px){
    .header{
        &__logo{
            width: 200px;
        }
        &__official{
            span{
                font-size: 12px;
            }
        }
        &__contacts{
            .button{
                right: 6px;
                top: 16px;
                width: 109px;
                height: 21px;
                font-size: 10px;
            }
        }
    }
    .promo{
        min-height: 460px;
        &__wrapper{
            padding-top: 65px;
        }
        &__header{
            font-size: 28px;
        }
        &__subheader{
            font-size: 15px;
        }
        &__icon{
            margin-left: 17px;
            font-size: 11px;
            img{
                transform: scale(0.85);
            }
            p{
                width: 90px;
            }
        }
        .button{
            &_main{
                margin-top: 45px;
                width: 223px;
                font-size: 15px;
            }
        }
        &__link{
            font-size: 13px;
        }
    }
    .title{
        font-size: 24px;
    }
    .advantages{
        &__wrapper{
            margin-top: 42px;
        }
        &__item{
            &:not(:first-child){
                margin-top: 35px;
            }
        }
        &__title{
            margin-top: 20px;
        }
        &__text{
            margin-top: 15px;
        }
    }
    .consultation{
        min-height: 600px;
        padding: 73px 0 63px 0;
        .title{
            &_left{
                font-size: 24px;
            }
        }
        &__subtitle{
            margin-top: 47px;
            font-size: 16px;
        }
        .feed-form{
            margin-top: 23px;
            transform: scale(0.9);
        }
    }
    .carousel{
        min-height: 460px;
    }
    .catalog{
        &__tabs{
            margin: 31px 40px 0px;
            flex-wrap: wrap;
        }
        &__tab{
            width: 154px;
            height: 35px;
            line-height: 31px;
            font-size: 15px;
            margin-top: 8px;   
        }
        &__content{
            margin-top: 49px;
        }
    }
    .catalog-item{
        &:last-child{
            margin-bottom: 0;
        }
    }
    .reviews{
        &__item{
            display: flex;
            flex-flow: column nowrap;
            position: relative;
        }
        &__item:not(:first-child){
            margin-top: 70px;
        }
        &__img{
            float: initial;
            margin-right: 0;
            margin-top: 60px;
            width: 129px;
            height: 129px;
        }
        &__content{
            margin-left: 0;
            margin-top: 20px;
        }
        &__name{
            position: absolute;
            top: 0;
            left: 0;
        }
        &__marathon{
            position: absolute;
            top: 15px;
            left: 0;
        }
        &__descr{
            margin-top: 0;
        }
    }
    .footer{
        &__info{
            min-height: 115px;
            padding: 14px 0 17px;
            flex-wrap: wrap;
            align-content: space-between;
        }
        &__adress, &__tel, &__wrapper{
            padding: 0 20px;
        }
        &__adress{
            font-size: 13px;
        }
        &__social{
            width: 32px;
            height: 32px;
        }
    }
}